<div id="comment">
  <% @request.comments.all.each do |comment| %>
  <div class="comment_each">
    <p class="comment_name">
      <b>Commented By:</b>
      <%= comment.name %>
    </p>
    <p class="comment_body">
      <b>Comment:</b>
      <%= comment.body %>
    </p>
    <p class="comment_time">
      <%= comment.created_at.to_formatted_s(:short) %>
    </p>
  </div>
   <% end %>
  </div>