#footer
  #footer-body
    #footer-menu
      %ul
        %li
          %a{:href => "#"} Home
        %li.sep
        %li
          %a{:href => "#"} About
        %li.sep
        %li
          %a{:href => "#"} Product
        %li.sep
        %li
          %a{:href => "#"} Services
        %li.sep
        %li
          %a{:href => "#"} Partners
        %li.sep
        %li
          %a{:href => "#"} Product
        %li.sep
        %li
          %a{:href => "#"} Contact
    #footer-details
      #contact
        %p
          %b Address:
          Street Name 123
        %p
          %b Tel:
          +123.456.78.91
        %p
          %b Fax:
          +123.456.78.92
        %p
          %b e-mail:
          %a{:href => "#"} office@company.com
        %p
          %b website:
          %a{:href => "#"} www.companyname.com
      #copyright
        %p Copyright: Sitename.com
        %p
          Template Design by
          %a{:href => "http://www.investintech.com"} Investintech