<div id="footer">
  <div id="footer-body">
    <div id="footer-menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li class="sep"></li>
        <li><a href="#">About</a></li>
        <li class="sep"></li>
        <li><a href="#">Product</a></li>
        <li class="sep"></li>
        <li><a href="#">Services</a></li>
        <li class="sep"></li>
        <li><a href="#">Partners</a></li>
        <li class="sep"></li>
        <li><a href="#">Product</a></li>
        <li class="sep"></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div id="footer-details">
      <div id="contact">
      <p><b>Address:</b> Street Name 123</p>
      <p><b>Tel:</b> +123.456.78.91</p>
      <p><b>Fax:</b> +123.456.78.92</p>
      <p><b>e-mail:</b> <a href="#">office@company.com</a></p>
      <p><b>website:</b> <a href="#">www.companyname.com</a></p>
      </div>
      <div id="copyright">
      <p>Copyright: Sitename.com</p>
      <p>Template Design by <a href="http://www.investintech.com">Investintech</a></p>
      </div>
    </div>
  </div>
</div>