#footer
  #footer-body
    #footer-details
      #contact
        %p
          %b Address:
          Bhaisepati
        %p
          %b Tel:
          +977-9841372829
        %p
          %b Fax:
          +977-015438299
        %p
          %b e-mail:
          %a{:href => "#"} funducate@funducate.com
        %p
          %b website:
          %a{:href => "#"} www.funducate.com
      #copyright
        %p Copyright: funducate.com