<div id="header">
  <h1>Latest product</h1>
  <div id="product1">
  <h3>1</h3>
  <h2>Product Feature</h2>
  <p>Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus vitae.</p>
  </div>
  <div id="product2">
  <h3>2</h3>
  <h2>Product Feature</h2>
  <p>Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus vitae.</p>
  </div>
  <div id="product3">
  <h3>3</h3>
  <h2>Product Feature</h2>
  <p>Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus vitae.</p>
  </div>
  <div id="product4">
  <h3>4</h3>
  <h2>Product Feature</h2>
  <p>Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus vitae.</p>
  </div>
</div>