<div id="right-column">
  <div id="right-top">
    <h1>Help Now!</h1>
  </div>
  <div id="right-middle">
    <% @needy_requests.each do |request| %>
    <div id = "<%= cycle("first","post-top-left", "post-top-right", "post-bottom-left", "post-bottom-right") %>" >
      <h3><%= request.title %></h3>
      <p>
        <%= request.description %>
        <%= link_to(image_tag('button-more.png', :border => 0), request_path(request)) %>
      </p>
    </div>
    <% end %>
    <div class="clear"></div>
  </div>
  <div id="right-bottom">
  </div>
</div>