<div id="top">
  <div id="top-logo"><%=link_to(image_tag("logo.jpg", :border  => 0),homepage_path) %></div>
  <div id="top-menu">
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li class="sep"></li>
      <li><%= link_to("Requests", requests_path)%></li>
      <li class="sep"></li>
      <li><a href="#">Product</a></li>
      <li class="sep"></li>
      <li><a href="#">Services</a></li>
      <li class="sep"></li>
      <li><a href="#">Partners</a></li>
      <li class="sep"></li>
      <li><a href="#">Product</a></li>
      <li class="sep"></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div id = "request_button">
    <% if person_signed_in? %>
      <%= link_to(image_tag("request_scholarship_button.jpg", :border => 0), new_person_request_path(current_person)) %>
    <% else %>
      <%= link_to(image_tag("request_scholarship_button.jpg", :border => 0), new_person_registration_path) %>
    <% end %>
  </div>
</div>