<div id="top">
  <div id="top-logo"><a href="#"><img alt="Site Logo" src="images/logo.jpg" style="border:0pt none;" /></a>
  <p>Free CSS Template by <a href="http://www.investintech.com">INVESTINTECH</a></p>
  </div>
  <span class = "request-button">
    <%= link_to(image_tag("request_scholarship_button.jpg"), new_person_request_path) %>


    </span>
  <div id="top-menu">
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li class="sep"></li>
      <li><a href="#">About</a></li>
      <li class="sep"></li>
      <li><a href="#">Product</a></li>
      <li class="sep"></li>
      <li><a href="#">Services</a></li>
      <li class="sep"></li>
      <li><a href="#">Partners</a></li>
      <li class="sep"></li>
      <li><a href="#">Product</a></li>
      <li class="sep"></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>