<div id="left-column">
  <div id="left-top">
    <h1>Welcome</h1>
  </div>
  <div id="left-middle">
    <div id="post1">
      <div class="post-top">
      </div>
      <div class="post-middle">
        <h2>Join hands to help</h2>
        <p class = "welcome_message"><img src="../images/students.jpeg" alt="company" style="float:right; border:1px solid #333333; padding:2px; margin:-55px 0 0 10px; width:110px; height:146px;" />Welcome to FunduCate! Make a Difference, Help forge a dream come true.
        </p>
      </div>
      <div class="post-bottom">
      </div>
    </div>
    <div id="post2">
      <div class="post-top">
      </div>
      <div class="post-middle">
        <h2>Stories of success</h2>
        <div id="sky">
          <h3>How i got into engineering</h3>
          <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor.</p>
          <h3>How i managed to study medical</h3>
          <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum.</p>
          <h3>funducate helped me to fly</h3>
          <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="left-bottom">
  </div>
</div>