!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Funducate.com,
      =@person.name
    %p
      Congratulation!!!!
      %br
    %p
      Hope Funducate will help you to reach your destiny!!!
      Best of luck!!!!
    %p Thanks for joining and have a great day!